<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Trang chủ</h1>
    <a href="https://normally-pleasant-seasnail.ngrok-free.app/img/2.jpg"><img src="https://normally-pleasant-seasnail.ngrok-free.app/img/2.jpg" alt=""></a>
    </script>
  </body>
</html>
